/* body 스타일 */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center; /* 텍스트 중앙 정렬 */
}

/* 컨테이너 스타일 */
.container {
    width: 60%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #4FC9DE;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    color: black; /* 글씨 색 검정 */
}

/* 라벨 그룹 */
.label-group {
    display: flex; /* 플렉스박스 사용 */
    justify-content: center; /* 수평 중앙 */
    align-items: center; /* 수직 중앙 */
    margin-top: 20px; /* 위쪽 간격 추가 */
    gap: 10px; /* 라벨 간 간격 */
    width: 100%; /* 부모의 전체 너비 */
}

.label-group label {
    font-size: 18px;
    color: black; /* 글씨 색 검정 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

/* 다음 버튼 */
.next-btn {
    display: block;
    width: 100%;
    background-color: #FFB85A;
    color: black; /* 글씨 색 검정 */
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center; /* 텍스트 중앙 정렬 */
}

.next-btn:hover {
    background-color: #FFB85A;
}

/* 추천 섹션 */
#recommendation {
    margin-top: 30px;
    text-align: center;
    color: black; /* 글씨 색 검정 */
}

/* 숨겨진 클래스 */
.hidden {
    display: none;
}

/* 애니 이미지 */
#animeImage {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center; /* 텍스트 중앙 정렬 */
}

/* 애니 설명 */
#animeDescription {
    font-size: 18px;
    color: black; /* 글씨 색 검정 */
    margin-top: 10px;
    text-align: center; /* 텍스트 중앙 정렬 */
}

